
body {
	margin: 0;
	padding: 0;
	color: #5bc0de;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: white url(../images/background.gif) repeat;
	min-width: 500px;
	min-height: 600px;
	height: 100%;
}

div.form input,
div.form textarea,
div.form select {
	margin: 0.2em 0 0.5em 0;
}

div.form .row {
	margin: 5px 0;
}

p {
	margin: 0 0 1.5em 0;
}

.modal-background {
	background: white url(../images/background.gif) repeat;
}

.header {
	position: relative;
	float: right;
	text-align: right;
	right: 0px;
	padding-right: 40px;
}

.WaitingIcon {
	padding: 10px 10px 10px 10px;
	top: 45%;
	left: 50%;
	margin-left: -60px;

	max-width: 120px;
	max-height: 120px;

	background-color: #404040;

	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;

	filter: alpha(opacity = 80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;

	position: absolute;
	z-index: 5200;
	display: none;
}

.Help-Label {
	width: 100px;
	height: 100px;
	top: 60px;
	margin: 0px 36px 0px 36px;
	float: right; 
	position: relative;
	z-index: 500;
}

.Help-Label a {
	padding: 16px 0px 6px 0px;
	text-align: center;
	font-size: 60px;
	text-decoration: none;
	color: #727272;
	display: block;
}

.Help-Label a:hover {
	color: #DDDDDD;
}

.BlueLight-Box {
	background-color: rgba(37, 37, 37, 0.5);
	border: 3px solid #555555;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
}

.BlueLight-Box:hover {
	border: 3px solid #5bc0de;
	-webkit-box-shadow: 0px 0px 28px #5bc0de;
	-moz-box-shadow: 0px 0px 28px #5bc0de;
	box-shadow: 0px 0px 28px #5bc0de;
}

.indent-sm {
	padding-top: 20px;
	padding-bottom: 20px;
}

.indent-md {
	padding-top: 40px;
	padding-bottom: 40px;
}

.indent-lg {
	padding-top: 80px;
	padding-bottom: 80px;
}

.indent-top-sm {
	padding-top: 20px;
}

.indent-top-md {
	padding-top: 40px;
}

.indent-top-lg {
	padding-top: 80px;
}

.indent-bottom-sm {
	padding-bottom: 20px;
}

.indent-bottom-md {
	padding-bottom: 40px;
}

.indent-bottom-lg {
	padding-bottom: 80px;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-48 {
	font-size: 48px;
}

.text-36 {
	font-size: 36px;
}

.text-30 {
	font-size: 30px;
}

.text-24 {
	font-size: 24px;
}

.text-20 {
	font-size: 20px;
}

.text-18 {
	font-size: 18px;
}

.text-16 {
	font-size: 16px;
}

.text-14 {
	font-size: 14px;
	line-height: 130%;
}

.text-12 {
	font-size: 12px;
}

.text-bold {
	font-weight: bold;
}

.text-italic {
	font-style: italic;
}

.color-orange {
	color: #EE7000;
}

.color-green {
	color: #AAFFAA;
}

.color-blue {
	color: #5bc0de;
}

.color-white {
	color: #DDDDDD;
}

.color-yellow {
	color: #FDD362;
}

.color-red {
	color: #FFAAAA;
}

.color-gray {
	color: #999999;
}

.delimiter-bottom {
	border-bottom: 2px solid #1d1d1d;
	-webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.15);
}

.cursor-pointer {
	cursor: pointer;
}

.title-2 {
	font-size: 36px;
	color: #EE7000;
	padding: 1.0em 0 1.0em 0;
	display: block;
}

.standart-link a {
	font-size: 36px;
	color: #5BC0DE;
}

.standart-link a:hover {
	color: #5BC0DE;
}

.standart-link a:focus {
	color: #5BC0DE;
}

.error-message {
	color: #ee3333;
	font-size: 36px;
	margin-bottom: 15px;
}

.IndexFooterMenuBlock {
	padding: 60px 50px 30px 50px;
	text-align: center;
}

#Picture {
	height: 800px;
	background: url(../images/LogoLarge.gif) no-repeat center center;
}

#IndexHeader {
	height: 80px;
	-webkit-box-shadow: 0px -180px 80px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px -180px 80px rgba(0, 0, 0, 0.7);
	box-shadow: 0px -180px 80px rgba(0, 0, 0, 0.7);
}

#IndexShadowHeader {
	height: 80px;
}

#Logo {
	padding: 50px 20px 8px 20px;
	text-align: left;
	vertical-align: top;
}

#header {
	height: 220px;
	padding: 0;
}

#footer {
	bottom: 0px;
	width: 100%;

	padding: 40px;
	margin: 40px 0 0 0;
	font-size: 24px;
	line-height: 140%;
	color: #666666;
	text-align: center;
	border-top: 1px solid #555555;

	-webkit-box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
	box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
}

#Loading {
	padding: 10px 10px 10px 10px;
	top: 280px;
	left: 50%;
	margin-left: -60px;

	max-width: 120px;
	max-height: 120px;

	background-color: #404040;

	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;

	filter: alpha(opacity = 80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;

	position: absolute;
	z-index: 5250;
	display: none;
}
