
.Sound-Label {
	width: 32px;
	height: 32px;
	top: 22px;
	margin: 0px 8px 0px 8px;
	padding: 4px 0px 0px 4px;
	position: relative;
	float: right; 
	z-index: 500;
	cursor: pointer;
}

.Sound-Label-On {
	background: url(../images/sound.png?v=1) no-repeat center center rgba(37, 37, 37, 0.5);
}

.Sound-Label-On:hover {
	background: url(../images/sound-hover.png?v=1) no-repeat center center rgba(37, 37, 37, 0.5);
}

.Sound-Label-Off {
	background: url(../images/sound-off.png?v=1) no-repeat center center rgba(37, 37, 37, 0.5);
}

.Subtitle {
	padding: 15px 20px 15px 20px;
	font-size: 140%;
}

.title-sm {
	padding: 8px 12px 6px 12px;
}

.Lobby-Mode {
	min-height: 360px;
	padding: 20px 20px 20px 20px;
}

.Lobby {
	padding: 10px 10px 10px 10px;
	margin-bottom: 5px;
	position: relative;
	overflow: auto;
	text-align: left;
	color: #DDDDDD;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid #666666;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.Lobby:hover {
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid #888888;
}

.Player {
	padding: 10px 10px 10px 10px;
	margin-bottom: 5px;
	position: relative;
	overflow: auto;
	text-align: left;
	color: #DDDDDD;
	cursor: pointer;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.Bot {
	padding: 10px 10px 10px 10px;
	margin-bottom: 5px;
	position: relative;
	overflow: auto;
	text-align: left;
	color: #bb5555;
	/*color: #5555bb;*/
	cursor: pointer;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/*background-color: rgba(60, 40, 40, 0.8) !important;
	border: 1px solid #884444 !important;*/
	/*color: #bb5555 !important;*/
	-moz-user-select: none;
	-webkit-user-select: none;
}

.Player-Active {
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid #666666;
}

.Bot-Active {
	background-color: rgba(60, 40, 40, 0.8) !important;
	border: 1px solid #884444 !important;
	/*background-color: rgba(40, 40, 60, 0.8) !important;
	border: 1px solid #444488 !important;*/
}

.Player-Active:hover {
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid #888888;
}

.Bot-Active:hover {
	background-color: rgba(70, 50, 50, 0.85) !important;
	border: 1px solid #aa5555 !important;
	/*background-color: rgba(50, 50, 70, 0.85) !important;
	border: 1px solid #5555aa !important;*/
}

.Player-NotActive {
	color: #555555;
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid #444444;
}

.Player-NotActive:hover {
	background-color: rgba(255, 255, 255, 0.08);
	border: 1px solid #555555;
}

.Player-Name {
	float: left;
	width: 60%;
	text-align: left;
}

.Player-WinningStreak {
	float: left;
	width: 15%;
	text-align: right;
}

.Player-Rating {
	float: left;
	width: 25%;
	text-align: right;
}

.Player-Status {
	float: left;
	padding-top: 6px;
	color: #555555;
	font-size: 12px;
	font-style: italic;
	width: 100%;
	text-align: left;
}

.Player-Status-Active {
	color: #888888;
}

.Bot-Status-Active {
	color: #aa6666;
	/*color: #6666aa;*/
}

.Lobby-Name {
	float: left;
	width: 100%;
	text-align: left;
}

.Lobby-Player {
	float: left;
	width: 10%;
	text-align: right;
}

.Lobby-Color {
	float: left;
	width: 15%;
	text-align: right;
}

.Lobby-Size {
	float: left;
	width: 20%;
	text-align: right;
}

.Lobby-Settings {
	float: left;
	padding-top: 10px;
	color: #999999;
	width: 100%;
	text-align: right;
}

.timer {
	font-size: 14px;
	color: #EE7000;
	text-align: left;
	padding-top: 7px;
}

.player-data-lable {
	font-size: 14px;
	color: #999999;
	text-align: left;
	padding-top: 7px;
}

.player-data {
	font-size: 14px;
	color: #DDDDDD;
	text-align: left;
	padding-top: 7px;
}

.Player-Box-Off {
	color: #191919 !important;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.1);
	box-shadow: 1px 1px 0 rgba(255,255,255,0.05);
	border-left: 1px solid #202020;
	border-top: 1px solid #202020;
}

.Player-Lable-Off {
	color: #191919 !important;
}

.Player-Status-Off {
	color: #b11 !important;
	font-weight: bold !important;
	text-shadow: none !important;
}

.NextMoveIndicator {
	color: #EE7000 !important;
	background: rgba(37, 37, 37, 0.85) !important;
}

.Player-Box {
	padding: 12px 20px 15px 20px;
	margin-bottom: 10px;
	background: rgba(37, 37, 37, 0.4);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #999999;
	moz-user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

.Player-Box-1 {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	padding: 6px 12px 10px 0px;
}

.Player-Box-2 {
	padding: 0px 0px 0px 0px;
	font-size: 22px;
	font-weight: bold;
	text-align: right;
	color: #5bc0de;
}

.Player-Box-3 {
	font-size: 14px;
	color: #999999;
	text-align: left;
	padding: 0px 12px 0px 0px;
}

.Player-Box-4 {
	font-size: 14px;
	color: #999999;
	text-align: right;
	padding: 0px 0px 0px 0px;
}

.Player-Box-5 {
	font-size: 14px;
	color: #EE7000;
	text-align: center;
	padding: 7px 0px 0px 0px;
}

.Player-Color {
	width: 12px;
	height: 12px;
	margin: 2px 0px 0px 6px;
	float: right;
	position: relative;
	background: #000000;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.Button-Padding {
	padding-left: 50px;
	padding-right: 50px;
}

.TopMenu {
	padding: 18px 20px 6px 20px;
	height: 100%;
}

#TopString {
	padding: 20px 5px 20px 5px;
	height: 60px;
}

#LobbiesList, #PlayersList {
	height: 340px;
	padding: 10px 10px 10px 10px;
	overflow: auto;
}

#PlayersQuantity, #LobbiesQuantity, #LobbiesQuantity-xs {
	padding: 15px 10px 10px 10px;
	font-size: 14px;
	color: #999999;
}

#botSettings {
	position: relative;
	display: inline-flex;
	margin-top: 20px;
	margin-bottom: 0;
}

.bot-button {
	padding-top: 20px;
	margin-bottom: 5px;
	position: relative;
	overflow: auto;
	text-align: center;
	color: #999;
	cursor: pointer;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 6px;
	/*background-color: rgba(255, 255, 255, 0.1);*/
	border: 1px solid #888;
	/*width: 60px;*/
	height: 60px;
	/*margin-right: 20px;*/
	/*border: 1px solid #5bc0de;
	-webkit-box-shadow: 0px 0px 7px #5bc0de;
	-moz-box-shadow: 0px 0px 7px #5bc0de;
	box-shadow: 0px 0px 7px #5bc0de;*/

	margin-right: 10px;
	width: 100px;
	font-size: 16px;
}

#LobbyDialog {
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

#MessageDialog {
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: default;
}



.radio-button {
	border: 1px solid #888;
	background-color: rgba(37, 37, 37, 0.5);
	color: #999;
	position: relative;
	cursor: pointer;
	text-align: center;
	-webkit-user-select: none;
}

.radio-button:hover {
	color: #ccc;
	border: 1px solid #bbb;
}

.selected-radio-button {
	background-color: #a8a39d;
	border: 1px solid #a8a39d !important;
	color: #444 !important;
}

.selected-radio-button:hover {
	background-color: #a8a39db3;
}



.check-button {
	border: 1px solid #888;
	background-color: rgba(37, 37, 37, 0.5);
	color: #999;
	position: relative;	
	cursor: pointer;
	text-align: center;
	-webkit-user-select: none;
}

.check-button:hover {
	color: #ccc;
	border: 1px solid #bbb;
}

.selected-check-button {
	background-color: #a8a39d;
	border: 1px solid #a8a39d !important;
	color: #444 !important;
}

.selected-check-button:hover {
	background-color: #a8a39db3;
}



.player-mode-button {
	width: 100px;
	height: 50px;

	padding-top: 15px;
	margin-bottom: 5px;
	margin-right: 10px;

	/*height: 60px;*/
	
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;

	font-size: 16px;
	
	/*margin-right: 20px;*/	
}

/*.player-mode-button:hover {
	color: #ccc;
	border: 1px solid #bbb;
}*/

.bot-mode-button {
	width: 60px;
	height: 50px;

	/*padding-top: 15px;*/

	padding-top: 17px;
	margin-bottom: 5px;
	margin-right: 10px;
		
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;	
	
	/*margin-right: 20px;*/	
	/*font-size: 16px;*/
	/*height: 60px;*/

	font-size: 14px;
}

.size-mode-button {
	width: 32%;
	height: 66px;

	padding-top: 13px;
	/*margin-bottom: 5px;*/
	margin-right: 10px;
	
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;

	font-size: 16px;
	font-weight: bold;
}

.bot-off {
	display: none;
}
