#Menu-Bottom {

}

.menu-text {
	font-size: 16px;
	color: #727272;
}

.menu-bottom a {
	font-size: 16px;
	color: #727272;
	text-decoration: none;
}

.menu-bottom a:hover {
	color: #5BC0DE;
}

.menu-bottom a:focus {
	color: #5BC0DE;
}

a.dot {
	text-decoration: none;
	border-bottom: 1px dashed #727272;
}

a.dot:hover {
	color: #5BC0DE;
	border-bottom: 1px dashed #5BC0DE;
}
